.notification {
  border: 2px solid;
  border-radius: 5px;
  background: #f2f2f2;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.success {
  color: #2f7d32;
  border-color: #2f7d32;
}

.notification.error {
  color: #c62828;
  border-color: #c62828;
}
